<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!--hibernate帮创建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--配置hibernate方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="entity/User.hbm.xml"/>
        <mapping resource="entity/Customer.hbm.xml"/>
        <mapping resource="entity/LinkMan.hbm.xml"/>
        <mapping resource="entity/Visit.hbm.xml"/>
        <!--不需要配置本地线程绑定的session了，Spring中的hibernate模板底层已经帮封装好了本地线程相关的session了-->
    </session-factory>
</hibernate-configuration>